<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%= project %></title>
	
	<link href="lib/bootstrap.css" rel="stylesheet">
	
	<link href="css/style.css" rel="stylesheet">
	
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand pull-left" href="#"><%= project %></a>
			</div>
		</div>
	</div>
	
	<div class="container meta" id="prompt">
		<div class="hero-unit content">
			<p>To use Tugboat, you need to <a href="https://help.github.com/articles/generating-ssh-keys">add an SSH key to your GitHub account</a>.</p>
		</div>
	</div>
	
</body>

</html>